*{
    box-sizing: border-box;
}

/* Empieza Style de la pagina de la categoria por Harsh */

.categoryTemplate{
    background-color: aliceblue;
}

.mainCategory{
    background-color: bisque;

}
.nameCategory{
    font-size: large;
    text-align: center;
}

section.containerNoticias{
    height: 100%;
    background-color: palegoldenrod;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
} 

main.categoryTemplate, article{

    background-color: aqua;
    width: 70%;
    height: 100%;
    border: 1px solid black;
}


/* Acaba Style de la pagina de la categoria por Harsh*/























































