* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

/* Barra de navegación Matias */

header {
    width: 100%;
    background-color: rgb(0, 0, 0);
}

/* Parte de la imagen superior de todonoticias.net */

.menuContainer {
    background-color: rgb(255, 255, 255);
    height: auto;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*---------------- imagen del logo grande arriba ----------------*/
.menuContainer .imagenLogo{
    justify-content: center;
    margin: 10px;
    padding-left: 5%;
    padding-right: 5%;
    width:70%;
}

/* esto es el menu hamburguesa que se encuentra oculto*/
#btnMenu {
    display: none;
    float: right;
}

header label {
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
}

header label:hover {
    cursor: pointer;
    background-color: rgba(71, 71, 71, 0.3); /*le da el color al menu hamburguesa*/
    border: 1px solid black;
}

/* parta de la barra de navegacion de los links con las noticias */
.menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.menu li:hover {
    background-color: rgba(122, 122, 122, 0.3); /*le da el color al menu al pasar el mouse*/
}

.menu li a {
    display: block;
    padding: 15px 20px;
    color: red;
    text-decoration: none;
}

/*---------------- responsive menú de navegación ----------------*/
@media (max-width: 768px) {
    header label {
        display: block;
    }
    .menu {
        position: absolute;
        background: rgb(0, 0, 0);
        width: 70%;
        margin-left: -70%;
        transition: all 0.5s;
    }
    .menu ul {
        flex-direction: column;
    }
    
    .menu li {
        border-top: 1px solid #ffffff;
    }

    #btnMenu:checked ~ .menu {
        margin: 0;
    }
    .menu li:hover { 
        background-color: rgba(119, 119, 119, 0.363);/*le da el color al menu hamburgesa al pasar el mouse*/
    }
}

/*---------------- Footer ----------------*/
/*cotenido del footer*/
.footer {
    background-color: rgb(0, 0, 0);
    height: auto;
    padding: 30px;
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
/*contido donde esta el logo del mundo*/
.logoMundo {
    width: 25%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*logo del mundo*/
.imgMundo {
    width: 50px;
    height: 50px;
}
/*contido donde estan las redes sociales*/
.redesSociales { /*va en color negro*/
    width: 25%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*contido donde esta el copyright*/
.copyRight {
    color: white;
    width: 25%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/*---------------- responsive footer ----------------*/

@media (max-width: 768px) {
    .logoMundo, .redesSociales, .copyRight {
        width: 100%;
        margin: 2%;
        height: 30px;
    }
}


/* Empieza Style de la pagina de la categoria por Harsh */

.containerCategory {
    display: flex;
    flex-flow: row wrap;
}

.containerCategory>*{
    padding: 10px;
    margin: 10px;
    flex: 1 100%;
}

.tit {
    height: 50%;
    margin: 1% 8%;
    flex: 1 100%;
    text-align: center;
    padding: 1%;
    font-size: xx-large;
    margin-bottom: 3%;
}

.imagencConCategory {
    margin: 2% 10% 2% 10%;
    display: flex;
    justify-content: space-between;
}

.newsImg {
    margin: 10px;
    width: 30%;
    display: flex;
    height: auto;
}

.titulos {
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    margin-left: 5%;
    width: 75%;
    margin: 10px;
}

.newsTitle {
    font-size: x-large;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;

}

.newsSubtitle {
    margin-top: 3%;
    font-size: large;
    display: flex;
    align-self: flex-start;

    margin-top: 40px;
}


.newsTitle:hover, .newsSubtitle:hover{
    color:red;
}


/* Acaba Style de la pagina de la categoria por Harsh*/

/*Nuevo style del index por harsh empieza*/
/*Estructura general, dos cajas, arriba y de abajo*/
.indexPage, .newsNameIndex {
    display: flex;
    flex-direction: column;
}

.new{ 
    width: 1000px;
}

.upperBoxIndex, .lowerBoxIndex, .newsBoxIndex{
    display: flex;
    flex-direction: row;
    margin-top: 1%;
}


.newsBoxIndex.newsOne, .upperBoxRightNewsIndex {
    width: 50%;
}

.lowerBoxIndex .newsBoxIndex{
    width: 33%;
}

.upperBoxRightNewsIndex .newsBoxIndex{
    height: 48%;
    margin-left: 15%;
}

/*Ajuste de imágenes*/
.newsOne img{
    width: 80%;
    height: 100%;
}

.newsTwo img, .newsThree img{
    width: 250px;
    height: 190px;
}

.lowerBoxIndex img{
    width: 40%;   
}

.indexPage img{
    margin: 1%;
}
.upperBoxIndex.lower{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 10%;
}
/*Ajuste de título y subtítulo*/
 .newsTitleIndex{
    font-weight: bold;
    margin-top: 3%;
    margin-left: 3%;
}
.newsTitleIndex:hover{
    color: red;
}
.newsSubtitleIndex{
    margin-top: 2%;
    font-weight: 400;
    margin-left: 3%;
}
.upperBoxRightNewsIndex .newsNameIndex{
    width: 50%;
}

@media screen and (max-width: 768px) {

    .indexPage, .newsNameIndex {
        display: flex;
        flex-direction: column;
    } 

   
    .upperBoxIndex, .lowerBoxIndex, .newsBoxIndex, .upperBoxIndex.lower{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 1%;

    } 
    .upperBoxIndex.lower{
        margin-right:0%;
    }
 
    .upperBoxIndex, .lowerBoxIndex {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
   
    .newsBoxIndex.newsOne, .upperBoxRightNewsIndex {
        width: 70%;
    }

    .lowerBoxIndex .newsNameIndex{
        width: 210%;
    }

    .lowerBoxIndex .newsBoxIndex{
        width: 33%;
    }
    
    .upperBoxRightNewsIndex .newsBoxIndex{
        height: 48%;
        margin-left: 0%;
    }
    .upperBoxRightNewsIndex .newsNameIndex{
        width: 100%;
    }
    .newsBoxIndex img {
        width: 100%;
        height: 100%;
    }

    .lowerBoxIndex img {
        width: 210%;
        height: 100%;
    }

    /*Ajuste de título y subtítulo*/
    .newsTitleIndex{
        font-weight: bold;
        margin-top: 2%;
    }

    .newsTitleIndex:hover{
        font-weight: bold;
        margin-top: 2%;
        color: red;
    }
    .newsSubtitleIndex{
        font-weight: 400;
    }
    
    .newsNameIndex {
        font-size: 15px;
    }

     

}

@media (max-width: 390px) {
    .indexPage, .newsNameIndex {
        display: flex;
        flex-direction: column;
    }

    .upperBoxIndex, .lowerBoxIndex, .newsBoxIndex{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 1%;
    }
   
    .newsBoxIndex.newsOne, .upperBoxRightNewsIndex {
        width: 80%;
    }

    .lowerBoxIndex .newsNameIndex{
        width: 150%;
    }

    .lowerBoxIndex .newsBoxIndex{
        width: 55%;
    }
    
    .upperBoxRightNewsIndex .newsBoxIndex{
        display: flex;
        justify-content: center;
        height: 48%;
        margin-left: 0%;
    }
    
    .newsBoxIndex img {
        width: 100%;
        height: 100%;
    }

    .upperBoxRightNewsIndex .newsNameIndex{
        width: 100%;
    }

    .lowerBoxIndex img {
        width: 150%;
        height: 100%;
    }

    /*Ajuste de título y subtítulo*/
    .newsTitleIndex{
        font-weight: bold;
        margin-top: 2%;
    }

    .newsTitleIndex:hover{
        font-weight: bold;
        margin-top: 2%;
        color: red;
    }
    .newsSubtitleIndex{
        font-weight: 400;
    }
    
    .newsNameIndex {
        font-size: 15px;
    }

}



/*Nuevo style del index por harsh acaba*/


/*-----------------Empieza el estilo a la página donde se encuentra la noticia--------------*/

/*Todo el contenido de la pagina*/

.caja {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.caja>*{
    padding: 10px;
    margin: 10px;
    flex: 1 100%;
}
/*Titulo de la noticia*/
.tittle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 10px 200px;
    font-size: 50px;
}
/*Subitulo de la noticia*/
.subtit {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin: 10px 50px;
    font-size: 30px;
}

.lineaUno {
    border-top: 1px solid black;
    height: 2px;
    max-width: 600px;
    padding: 0;
    margin: 25px auto 25px auto;
}

/*todo el flex de la imagen con el contenido de la noticia*/

.nombreDeCategoria, .autor, .fecha, .fuente{
    margin-top: 1%;
    margin-left: 1%;
    background-color: black;
    color: red;
    max-width: fit-content;
    padding: 1%;
}

.fecha{
    margin-left: 0%;
}

.imagencont {
    width: 50%;
    height: 50%; 
    margin: 10px 10% ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/*Imagen de la noticia*/
.imgenContenido {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.lineaDos {
    border-top: 1px solid black;
    height: 2px;
    max-width: 200px;
    padding: 0;
    margin: 50px auto 0 auto;
}

/*1er contenido noticia*/
.cont {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    text-align: justify;
    font-size: 20px;

}
/*Se encuentra el flex con el contenido uno y dos de la noticia*/
.contenidoTotal {
    margin: 10px 10% ;
    min-height: fit-content;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

.fuente{
    margin-top: 2%;;
    margin-left: 90%;
}
.cont3{
    color: red;
}
/*-----------------Termina el estilo a la página donde se encuentra la noticia--------------*/

.cont3:hover, .nombreDeCategoria:hover, .autor:hover, .fecha:hover{
    background-color: rgba(122, 122, 122, 0.3);
}



/* ----------Empieza responsive pagina del contenido de la noticia---------- */

@media (max-width: 768px) {
    .caja {
        display: flex;
        flex-direction: column;
        flex-flow: row wrap;
        justify-content: center;
        text-align: center;
    }
    .caja {
        display: flex;
        flex-direction: column;
        flex-flow: row wrap;
        text-align: center;
    }
    .caja>*{
        padding: 10px;
        margin: 10px;
        flex: 1 100%;
    }
    
    .tittle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;

        font-size: 30px;
    }

    /*Subitulo de la noticia*/
    .subtit {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        font-size: 20px;
    }

    .imagencont img{
        display: flex;
        width: auto;
        width: 100%;
    }
    
    .imgenContenido {
        height: auto;
        width: 100%;
        align-items: center;
        justify-content: center;

    }
    
    .cont {
        width: 100%;
        height: auto;
    }

    .contenidoTotal {
        margin: 10px 30px ;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }   
    
    .fuente{
        margin-left: 90%;
    }
}
/* ----------Termina responsive pagina del contenido de la noticia---------- */

/* ----------Empieza responsive pagina de categoria de noticias---------- */
@media (max-width: 768px) { 
    .containerCategory {
        display: flex;
        flex-direction: column;
        flex-flow: row wrap;
        justify-content: center;
        text-align: center;
    }
    .lineaUno {
        border-top: 1px solid black;
        height: 2px;
        max-width: 150px;
        padding: 0;
        margin: 50px auto 0 auto;
    }
    .tit {
        height: 50%;
        margin: 1% 8%;
        flex: 1 100%;
        text-align: center;
        padding: 1%;
        font-size: xx-large;
        margin-bottom: 3%;
    }
    .imagencConCategory {
        height: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .newsImg {
        display: flex;
        width: 95%;
        align-items: center;
        justify-content: center;
    }
    .titulos {
        width: auto;
        display: flex;
        flex-direction: column;
    }
    .newsTitle {
        display: flex;
        font-size: 20px;
        font-weight: bold;
        justify-content: center;
    }
    .newsSubtitle {
        margin-top: 3%;
        display: flex;
        color: black;
        font-size: 15px;
    }
    .newsTitle:hover {
        font-size: 21px;
    }
}


.linea1 {
    border-top: 1px solid black;
    height: 2px;
    padding: 0;
    margin: 20px auto 0 auto;
  }


a:visited, a {
    color: black;
}

 .nombreDeCategoria a:link, .nombreDeCategoria a:visited {
    color: red;
}


#ver_mas{
    background-color: crimson;
    height: 50px;
}
.button{
    text-align: center;
}



/*Style de la página de categorías*/

@media (max-width: 468px){

    .new_category {
        margin: 5%;
        width: 90%;
        height: 200px;
        display: flex;
    }

    .page_categories {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
}

@media (min-width: 469px) {
    .page_categories {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .new_category {
        margin: 2%;
        width: 46%;
        height:200px;
        display: flex;
    }
}


.img_category {
    display: flex;
    flex-direction: row;
}

.text_category {
    display: flex;
    flex-direction: column;
}



/*Style de la página de categorías*/









