* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

/* Barra de navegación Matias */

header {
    width: 100%;
    background-color: rgb(0, 0, 0);
}

/* Parte de la imagen superior de todonoticias.net */

.menuContainer {
    background-color: rgb(255, 255, 255);
    height: auto;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*---------------- imagen del logo grande arriba ----------------*/
.menuContainer .imagenLogo{
    justify-content: center;
    margin: 10px;
    padding-left: 5%;
    padding-right: 5%;
    width:70%;
}

/* esto es el menu hamburguesa que se encuentra oculto*/
#btnMenu {
    display: none;
    float: right;
}

header label {
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
}

header label:hover {
    cursor: pointer;
    background-color: rgba(71, 71, 71, 0.3); /*le da el color al menu hamburguesa*/
    border: 1px solid black;
}

/* parta de la barra de navegacion de los links con las noticias */
.menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.menu li:hover {
    background-color: rgba(122, 122, 122, 0.3); /*le da el color al menu al pasar el mouse*/
}

.menu li a {
    display: block;
    padding: 15px 20px;
    color: red;
    text-decoration: none;
}

/*---------------- responsive menú de navegación ----------------*/
@media (max-width: 768px) {
    header label {
        display: block;
    }
    .menu {
        position: absolute;
        background: rgb(0, 0, 0);
        width: 70%;
        margin-left: -70%;
        transition: all 0.5s;
    }
    .menu ul {
        flex-direction: column;
    }
    
    .menu li {
        border-top: 1px solid #ffffff;
    }

    #btnMenu:checked ~ .menu {
        margin: 0;
    }
    .menu li:hover { 
        background-color: rgba(119, 119, 119, 0.363);/*le da el color al menu hamburgesa al pasar el mouse*/
    }
}

/*---------------- Footer ----------------*/
/*cotenido del footer*/
.footer {
    background-color: rgb(0, 0, 0);
    height: auto;
    padding: 30px;
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
/*contido donde esta el logo del mundo*/
.logoMundo {
    background-color: rgb(48, 48, 48); /*va en color negro*/
    width: 25%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*logo del mundo*/
.imgMundo {
    width: 50px;
    height: 50px;
}
/*contido donde estan las redes sociales*/
.redesSociales {
    background-color: rgb(48, 48, 48); /*va en color negro*/
    width: 25%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*contido donde esta el copyright*/
.copyRight {
    background-color: rgb(48, 48, 48); /*va en color negro*/
    color: white;
    width: 25%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/*---------------- responsive footer ----------------*/

@media (max-width: 768px) {
    .logoMundo, .redesSociales, .copyRight {
        width: 100%;
        margin: 2%;
        height: 60px;
    }
}


/* Empieza Style de la pagina de la categoria por Harsh */

.containerCategory {
    display: flex;
    flex-flow: row wrap;

}

.tit {
    height: 50%;
    margin: 1% 8%;
    flex: 1 100%;
    text-align: center;
    padding: 1%;
    font-size: xx-large;
    margin-bottom: 3%;
}

.imagencConCategory {
    margin: 2% 10% 2% 10%;
    display: flex;
    justify-content: space-between;

}

.newsImg {
    margin: 10px;
    width: 30%;
    display: flex;
    height: auto;
}

.titulos {
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    margin-left: 5%;
    width: 75%;

    margin: 10px;
}

.newsTitle {
    font-size: x-large;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;

}

.newsSubtitle {
    margin-top: 3%;
    font-size: large;
    display: flex;
    align-self: flex-start;

    margin-top: 40px;
}


.newsTitle:hover, .newsSubtitle:hover{
    color:red;
}




/* Acaba Style de la pagina de la categoria por Harsh*/

/* Empieza Style del index por Miguel*/

.mainIndex {
    background:white;
    margin: 2%;
}

@media (max-width: 468px) {
    .firstnews, .box_two {
        display: flex;
        flex-direction: column;
    }

    .outstanding_one, .outstanding_two, .outstanding_three, .outstanding_four, .outstanding_five, .outstanding_six {
        display:flex;
        width:90%;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .outstanding_one, .outstanding_two, .outstanding_three, .outstanding_four, .outstanding_five, .outstanding_six {
        display: flex;
        flex-direction: row;
        width: 40%;
        height: auto;
    }

}

.firstnews {
    display: flex;
}

.outstanding_one {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.img_one {
    height: 400px;
    width: 400px;
    display: flex;
}

.text_one {
    display: flex;
    flex-direction: column;
}

.box_one {
    display: flex;
    flex-direction: column;
}

.outstanding_two {
    margin: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.img_two {
    width: 190px;
    height: 190px;
    display: flex;
}

.text_two {
    display: flex;
    flex-direction: column;
}

.outstanding_three {
    margin: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.img_three {
    width: 190px;
    height: 190px;
    display: flex;
}

.text_three {
    display: flex;
    flex-direction: column;
}

.box_two {
    display: flex;
    justify-content: space-between;
}

.outstanding_four {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}

.img_four {
    width: 150px;
    height: 150px;
}

.text_four {
    display: flex;
    flex-direction: column;
}

.title_one {
    font-size: x-large;
}

.subtitle_one {
    font-size: large;
}

.title {
    font-size: large;
}

.tituloIndex, .subtituloIndex, .parrafoIndex{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
}

.tituloIndex:hover, .subtituloIndex:hover, .parrafoIndex:hover {
color: red;
}


/*Acaba Style del index por Miguel*/


/*-----------------Empieza el estilo a la página donde se encuentra la noticia--------------*/
/*Todo el contenido de la pagina*/
.caja {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.caja>*{
    padding: 10px;
    margin: 10px;
    flex: 1 100%;
}
/*Titulo de la noticia*/
.tittle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 10px 200px;
    font-size: 50px;
}
/*Subitulo de la noticia*/
.subtit {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin: 10px 50px;
    font-size: 30px;
}

.lineaUno {
    border-top: 1px solid black;
    height: 2px;
    max-width: 600px;
    padding: 0;
    margin: 25px auto 25px auto;
}

/*todo el flex de la imagen con el contenido de la noticia*/
.imagencont {
    margin: 10px 50px ;
    display: flex;
    justify-content: space-between;
}
/*Imagen de la noticia*/
.imgenContenido {
    width: 30%;
    display: flex;
    align-items: center;
}

.lineaDos {
    border-top: 1px solid black;
    height: 2px;
    max-width: 200px;
    padding: 0;
    margin: 50px auto 0 auto;
}

/*1er contenido noticia*/
.cont {
    display: flex;
    margin: 10px;
    text-align: left;
    font-size: 20px;
}
/*Se encuentra el flex con el contenido uno y dos de la noticia*/
.contenidoTotal {
    margin: 10px 50px ;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

.cont1 {
    height: 50px;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    font-size: 20px;
}

.cont2 {
    height: 45px;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    font-size: 20px;
}

.fuente{
    margin-left: 90%;
}

/*-----------------Termina el estilo a la página donde se encuentra la noticia--------------*/

.cont3 {
    display: flex;
    align-items: center;
}

.intereses {
    background: rgb(0, 140, 255);
    height: 200px;
    display: flex;
    justify-content: space-around;
}

.interes1 {
    background: rgb(0, 255, 13);
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.interes2 {
    background: rgb(0, 255, 13);
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.interes3 {
    background: rgb(0, 255, 13);
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* ----------Empieza responsive pagina del contenido de la noticia---------- */

@media (max-width: 768px) {
    .caja {
        display: flex;
        flex-direction: column;
        flex-flow: row wrap;
        justify-content: center;
        text-align: center;
    }
    .caja {
        display: flex;
        flex-direction: column;
        flex-flow: row wrap;
        text-align: center;
    }
    .caja>*{
        padding: 10px;
        margin: 10px;
        flex: 1 100%;
    }
    
    .tittle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        margin: 10px 15px;
        font-size: 30px;
    }

    /*Subitulo de la noticia*/
    .subtit {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        margin: 5px 13px;
        font-size: 25px;
    }

    .imagencont {
        margin: 10px 30px ;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    
    .imgenContenido {
        height: auto;
        width: 100%;
        align-items: center;
        justify-content: center;
        font-size: 20px;
    }
    
    .cont {
        width: 100%;
        height: auto;
    }

    .contenidoTotal {
        margin: 10px 30px ;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    .cont1 {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
        font-size: 20px;
    }
    
    .cont2 {
        width: 100%;
        height: auto;
        margin-bottom: 5px;
        font-size: 20px;
    }
    
    .fuente{
        margin-left: 90%;
    }
}
/* ----------Termina responsive pagina del contenido de la noticia---------- */

@media (max-width: 768px) { 
    .containerCategory {
        display: flex;
        flex-direction: column;
        flex-flow: row wrap;
        justify-content: center;
        text-align: center;
    }

    .tit {
        height: 50%;
        margin: 1% 8%;
        flex: 1 100%;
        text-align: center;
        padding: 1%;
        font-size: xx-large;
        margin-bottom: 3%;
    }
    
    .imagencConCategory {
        background: rgb(238, 76, 76);
        height: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    .newsImg {
        background: rgb(236, 33, 175);
        display: flex;
        width: 95%;
        align-items: center;
        justify-content: center;
    }
    .titulos {
        background-color: aqua;
        width: auto;
        display: flex;
        flex-direction: column;
    }
    .newsTitle {
        background-color: rgb(50, 62, 172);
        display: flex;
        font-size: 25px;
        font-weight: bold;

    }

    .newsSubtitle {
        background-color: chartreuse;
        margin-top: 3%;
        display: flex;
        color: black;
    }
    .newsTitle:hover, .newsSubtitle:hover{
        color:red;
    }
}



























