* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

/* Barra de navegación Matias */

header {
    width: 100%;
    background-color: rgb(0, 0, 0);
}

/* Parte de la imagen superior de todonoticias.net */

.menuContainer {
    background-color: rgb(255, 255, 255);
    height: auto;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*---------------- imagen del logo grande arriba ----------------*/
.menuContainer .imagenLogo{
    justify-content: center;
    margin: 10px;
    padding-left: 5%;
    padding-right: 5%;
    width:70%;
}

/* esto es el menu hamburguesa que se encuentra oculto*/
#btnMenu {
    display: none;
    float: right;
}

header label {
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
}

header label:hover {
    cursor: pointer;
    background-color: rgba(71, 71, 71, 0.3); /*le da el color al menu hamburguesa*/
    border: 1px solid black;
}

/* parta de la barra de navegacion de los links con las noticias */
.menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.menu li:hover {
    background-color: rgba(122, 122, 122, 0.3); /*le da el color al menu al pasar el mouse*/
}

.menu li a {
    display: block;
    padding: 15px 20px;
    color: red;
    text-decoration: none;
}

/*---------------- responsive menú de navegación ----------------*/
@media (max-width: 768px) {
    header label {
        display: block;
    }
    .menu {
        position: absolute;
        background: rgb(0, 0, 0);
        width: 70%;
        margin-left: -70%;
        transition: all 0.5s;
    }
    .menu ul {
        flex-direction: column;
    }
    
    .menu li {
        border-top: 1px solid #ffffff;
    }

    #btnMenu:checked ~ .menu {
        margin: 0;
    }
    .menu li:hover { 
        background-color: rgba(119, 119, 119, 0.363);/*le da el color al menu hamburgesa al pasar el mouse*/
    }
}

/*---------------- Footer ----------------*/
/*cotenido del footer*/
.footer {
    background-color: rgb(0, 0, 0);
    height: auto;
    padding: 30px;
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
/*contido donde esta el logo del mundo*/
.logoMundo {
    background-color: rgb(48, 48, 48); /*va en color negro*/
    width: 25%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*logo del mundo*/
.imgMundo {
    width: 50px;
    height: 50px;
}
/*contido donde estan las redes sociales*/
.redesSociales {
    background-color: rgb(48, 48, 48); /*va en color negro*/
    width: 25%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*contido donde esta el copyright*/
.copyRight {
    background-color: rgb(48, 48, 48); /*va en color negro*/
    color: white;
    width: 25%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/*---------------- responsive footer ----------------*/

@media (max-width: 768px) {
    .logoMundo, .redesSociales, .copyRight {
        width: 100%;
        margin: 2%;
        height: 60px;
    }
}


/* Empieza Style de la pagina de la categoria por Harsh */

.containerNews {
    margin-bottom: 5%;
}

.categoryTemplate{
    background-color:white;
}

.mainCategory{
    background-color: white;

}
.nameCategory{
    margin-top: 5%;
    font-size: x-large;
    text-align: center;
}

section.containerNews{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
} 

main.categoryTemplate, article{
    margin-top: 3%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

main.categoryTemplate, article img{
    margin-left: 4%;
    width: 30%;
    height : auto;
}

main.categoryTemplate, .article.news{
    display: flex;
    flex-direction: column;
    color: black;
}

.news :hover{
    color: rgb(120, 4, 4);
}

main.categoryTemplate, .newsTitle{
    font-size: large;
    font-weight: bold;
    margin: 2%;
}

main.categoryTemplate, .newsSubtitle{   
    margin: 2%;
    font-weight: 400;
}

.mainCategory a:link, a:visited{
    text-decoration: none;
    color: black;
}

@media (max-width: 768px) {
    
    main.categoryTemplate, article img{
        margin-left: 0;
        width: 40%;
    }
    
}
/* Acaba Style de la pagina de la categoria por Harsh*/

/* Empieza Style del index por Miguel*/

.mainIndex {
    background:white;
    margin: 5%;
}

.firstnews {
    padding: 15px;
    display: flex;
}

.outstanding_one {
    width: 15px;
    padding: 10px;
    display: flex;
}

.img_one {
    float: left;
    display: flex;
}

.box_one {
    display: flex;
}

.outstanding_two {
    padding: 10px;
    display: flex;
}

.img_two {
    display: flex;
}

.outstanding_three {
    display: flex;
}

.img_three {
    float: left;

}

.box_two {
    display: flex;
}

.outstanding_four {
    display: flex;
}

.img_four{
    display: flex;
}

.outstanding_five {
    display: flex;
}

.img_five {
    display: flex;
}

.outstanding_six {
    display: flex;
}

.img_six {
    display: flex;
}

/*Acaba Style del index por Miguel*/



















































