* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

.caja {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    border: 3px solid #000;
}

.caja>*{
    padding: 10px;
    margin: 10px;
    flex: 1 100%;
}

.tit {
    background: red;
    height: 50px;
    margin: 10px 80px;
}

.subtit {
    background: blue;
    height: 50px;
    margin: 10px 50px;
}

.imagencont {
    background: aqua;
    height: 300px;
    display: flex;
    justify-content: space-between;
}

.img {
    background: rgb(236, 33, 175);
    height: 300px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont {
    background: yellow;
    height: 300px;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenidoTotal {
    background: yellow;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}

.cont1 {
    background: rgb(255, 161, 19);
    height: 50px;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont2 {
    background: rgb(197, 149, 77);
    height: 45px;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.fuente{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    text-align: center;
    background: rgb(163, 99, 3);
}
.cont3 {
    display: flex;
    align-items: center;
}


.intereses {
    background: rgb(0, 140, 255);
    height: 200px;
    display: flex;
    justify-content: space-around;
}

.interes1 {
    background: rgb(0, 255, 13);
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.interes2 {
    background: rgb(0, 255, 13);
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.interes3 {
    background: rgb(0, 255, 13);
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}